body {
    background-color: #729dd1;
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

.setting {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}


button,
.edit,
.close {
  cursor: pointer; /* makes the cursor a hand */
}